#root {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.calculator-main {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 320px;
    border: 2px solid #000;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 10px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.buttons
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}
